<aside class="fixed top-16 shadow border border-gray-300 h-screen w-60">
    <ul>
      <li [routerLink]="'/'" class="p-4 cursor-pointer" 
      routerLinkActive="bg-blue-100 border-l-4 border-blue-500 transition-all ease-out font-semibold text-blue-600" 
      [routerLinkActiveOptions]="{exact:true}"> All </li>
      <li [routerLink]="'/important'" 
      routerLinkActive="bg-blue-100 border-l-4 border-blue-500 transition-all ease-out font-semibold text-blue-600" 
      [routerLinkActiveOptions]="{exact:true}"
      class="p-4 cursor-pointer">Important</li>
      <li [routerLink]="'/completed'" 
      routerLinkActive="bg-blue-100 border-l-4 border-blue-500 transition-all ease-out font-semibold text-blue-600" 
      [routerLinkActiveOptions]="{exact:true}"
      class="p-4 cursor-pointer">Completed</li>
    </ul>
</aside>