<aside class="fixed top-16 shadow border border-gray-300 h-screen w-60">
    <ul>
      <li [routerLink]="'/'" class="p-4 cursor-pointer" 
      routerLinkActive="bg-[#AE7FEB] border-l-4 border-white transition-all ease-out font-semibold text-white" 
      [routerLinkActiveOptions]="{exact:true}"> All </li>
      <li [routerLink]="'/important'" 
      routerLinkActive="bg-[#AE7FEB] border-l-4 border-white transition-all ease-out font-semibold text-white" 
      [routerLinkActiveOptions]="{exact:true}"
      class="p-4 cursor-pointer">Important</li>
      <li [routerLink]="'/completed'" 
      routerLinkActive="bg-[#AE7FEB] border-l-4 border-white transition-all ease-out font-semibold text-white" 
      [routerLinkActiveOptions]="{exact:true}"
      class="p-4 cursor-pointer">Completed</li>
    </ul>
</aside>